<source>
  type tail
  pos_file /tmp/docker.log.pos
  tag docker.*
  path /tmp/mesos/slaves/*/frameworks/*/executors/*/runs/latest/stdout
  format none
</source>

<match docker.**>
  type record_reformer
  tag ${tag_parts[8]}.log
</match>

<match **.log>
  type logentries
  host   {{logentries.host}}
  port   {{logentries.port}}
  tokens {% for key, value in logentries.tokens.iteritems() %}{% if loop.index != 1 %},{% endif %}{{key}}:{{value}}{% endfor %}

</match>
